__Imports__

In [3]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

__Read in Data__

In [4]:
train = pd.read_csv("C:/Users/Michael/Github/transactions_train.csv")
train.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

__Converting Hex to Integers__

In [5]:
def hex_to_signed(source):
    """Convert a string hex value to a signed hexidecimal value.

    This assumes that source is the proper length, and the sign bit
    is the first bit in the first byte of the correct length.

    hex_to_signed("F") should return -1.
    hex_to_signed("0F") should return 15.
    """
    if not isinstance(source, str):
        raise ValueError("string type required")
    if 0 == len(source):
        raise valueError("string is empty")
    sign_bit_mask = 1 << (len(source)*4-1)
    other_bits_mask = sign_bit_mask - 1
    value = int(source, 16)
    return -(value & sign_bit_mask) | (value & other_bits_mask)

__Selecting and formating data types in dataframe__

In [6]:
train['customer_id'] = train['customer_id'].apply(lambda x : hex_to_signed(x))
train['article_id'] = train.article_id.astype('int32')
train['t_dat'] = pd.to_datetime(train['t_dat'])
train = train[['t_dat','customer_id','article_id']]
train.head()

       t_dat                                        customer_id  article_id
0 2018-09-20  6116990065284462810764946559699987067290722768...   663713001
1 2018-09-20  6116990065284462810764946559699987067290722768...   541518023
2 2018-09-20  8639559392216894130813047803836240585733025821...   505221004
3 2018-09-20  8639559392216894130813047803836240585733025821...   685687003
4 2018-09-20  8639559392216894130813047803836240585733025821...   685687004

__Saving this for later__

In [7]:
# another_train = train

__Customer's Last Week Purchases__

In [8]:
tmp = train.groupby('customer_id').t_dat.max().reset_index()
tmp.columns = ['customer_id','max_dat']
train = train.merge(tmp,on=['customer_id'],how='left')
train['diff_dat'] = (train.max_dat - train.t_dat).dt.days
train = train.loc[train['diff_dat']<=6]
print('Train shape:',train.shape)
train.head()

Train shape: (5181535, 5)

,t_dat,customer_id,article_id,max_dat,diff_dat
49,2018-09-20,5981405501434810419031299841272056822028636268...,649356002,2018-09-20,0
50,2018-09-20,5981405501434810419031299841272056822028636268...,579941002,2018-09-20,0
51,2018-09-20,5981405501434810419031299841272056822028636268...,629760002,2018-09-20,0
52,2018-09-20,5981405501434810419031299841272056822028636268...,625229004,2018-09-20,0
61,2018-09-20,1132591264840105692788114398749857557049430095...,613456009,2018-09-20,0

__Recommendation Most Often Prev Purchased Items__

In [9]:
tmp = train.groupby(['customer_id','article_id'])['t_dat'].agg('count').reset_index()
tmp.columns = ['customer_id','article_id','ct']
train = train.merge(tmp,on=['customer_id','article_id'],how='left')
train = train.sort_values(['ct','t_dat'],ascending=False)
train = train.drop_duplicates(['customer_id','article_id'])
train = train.sort_values(['ct','t_dat'],ascending=False)
train.head()

,t_dat,customer_id,article_id,max_dat,diff_dat,ct
1158548,2019-07-16,1122880311838375530037224418800749068125981861...,719348003,2019-07-16,0,100
80218,2018-10-04,-673191760722678788667587928976895833688046975...,557247001,2018-10-04,0,86
2149868,2020-03-06,9249039390400736591087536058610073983058079884...,852521001,2020-03-06,0,81
3423153,2020-07-06,-518177034797192986786595171574626635942011784...,685813001,2020-07-06,0,80
871769,2019-05-14,1283729545703826238940687917472870211201319841...,695545001,2019-05-14,0,80

In [10]:
df = train[['customer_id','article_id']]

__Recommend Items Purchased Together__

# USE PANDAS TO MAP COLUMN WITH DICTIONARY

In [ ]:
pairs = np.load('pairs.npy',allow_pickle=True).item()
train['article_id2'] = train.article_id.map(pairs)
train.head()

# RECOMMENDATION OF PAIRED ITEMS

In [ ]:
train2 = train[['customer_id','article_id2']].copy()
train2 = train2.loc[train2.article_id2.notnull()]
train2 = train2.drop_duplicates(['customer_id','article_id2'])
train2 = train2.rename({'article_id2':'article_id'},axis=1)
train2.head()

# CONCATENATE PAIRED ITEM RECOMMENDATION AFTER PREVIOUS PURCHASED RECOMMENDATIONS

In [ ]:
train = train[['customer_id','article_id']]
train = pd.concat([train,train2],axis=0,ignore_index=True)
train.article_id = train.article_id.astype('int32')
train = train.drop_duplicates(['customer_id','article_id'])
train.head()

# CONVERT RECOMMENDATIONS INTO SINGLE STRING

In [ ]:
train.article_id = ' 0' + train.article_id.astype('str')
preds = pd.DataFrame( train.groupby('customer_id').article_id.sum().reset_index() )
preds.columns = ['customer_id','prediction']
preds.head()

In [ ]:
another_train.t_dat = pd.to_datetime(another_train.t_dat)
another_train = another_train.loc[another_train.t_dat >= pd.to_datetime('2020-09-16')]
top12 = ' 0' + ' 0'.join(another_train.article_id.value_counts().index.astype('str')[:12])
print("Last week's top 12 popular items:")
print( top12 )

In [ ]:
sub = pd.read_csv("C:/Users/Michael/Github/sample_submission.csv")
sub = sub[['customer_id']]
sub['customer_id_2'] = sub['customer_id'].apply(lambda x : hex_to_signed(x))
sub = sub.merge(preds.rename({'customer_id':'customer_id_2'},axis=1),on='customer_id_2', how='left').fillna('')

del sub['customer_id_2']
sub.prediction = sub.prediction + top12
sub.prediction = sub.prediction.str.strip()
sub.prediction = sub.prediction.str[:131]
#sub.to_csv(f'submission.csv',index=False)
sub.head()

In [ ]:
sub.to_csv(f'submission_04_30_2022.csv',index=False)